*~
_*
*.aux
*.bcf
*.lof
*.lot
*.xml
*.log
*.out
*fdb_latexmk
*-blx.bib
*.fls
*.synctex.gz
*.toc
*/main.bbl
*/main.blg
*.DS_Store
.vscode/settings.json
Experimento/DatosSinapsisArtificial/TrozoC.txt
Experimento/DatosSinapsisArtificial/TrozoG.txt
Experimento/DatosSinapsisArtificial/TrozoR.txt

/.quarto/
