*~
_*
*.aux
*.bcf
*.lof
*.lot
*.xml
*.log
*.out
*fdb_latexmk
*-blx.bib
*.fls
*.synctex.gz
*.toc
*/main.bbl
*/main.blg
*.DS_Store
.vscode/settings.json
./DatosSinapsisArtificial/TrozoC.txt
./DatosSinapsisArtificial/TrozoG.txt
./DatosSinapsisArtificial/TrozoR.txt

/.quarto/
!_quarto.yml
/Renders/*